<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pirates!</title>
  </head>
  <body>
    <form action="/pirates" method="post">
      <p>Name: <input id="pirate_name" type="text" name="pirate[name]"></p>
      <p>Weight: <input id="pirate_weight" type="text" name="pirate[weight]"></p>
      <p>Height: <input id="pirate_height" type="text" name="pirate[height]"></p>
      <p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
      <p>Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
      <input id="Submit" type="submit">
    </form>
  </body>
</html>
